@media (max-width:500px){
    body{
        width: 100vw;
    }

    .navigation{
        min-height: 10vh;
        flex-direction: column;
        justify-content: center;
        padding: 12px;
    }

    .navigation ul{
        background-color: #ccc;
        padding: 10px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .footer_container{
        grid-template-columns: 1fr;
    }
}